<p id="notice"><%= notice %></p>

<p>
  <strong>Slots:</strong>
  <%= @time_slot.slots %>
</p>

<p>
  <strong>Status:</strong>
  <%= @time_slot.status %>
</p>

<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<%= link_to 'Back', time_slots_path %>
