
<%= simple_form_for(@payment) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :appointment_type_id %>
    <%= f.input :amount_paid %>
    <%= f.input :date_received %>
    <%= f.input :fullname %>
    <%= f.input :user_id %>
    <%= f.input :status %>
    <%= f.input :comments %>
    <%= f.input :balance %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
