<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Appointment type</th>
      <th>Date scheduled</th>
      <th>User</th>
      <th>Status</th>
      <th>Comments</th>
      <th>Email</th>
      <th>Phonenumber</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.fullname %></td>
        <td><%= appointment.appointment_type_id %></td>
        <td><%= appointment.date_scheduled %></td>
        <td><%= appointment.user_id %></td>
        <td><%= appointment.status %></td>
        <td><%= appointment.comments %></td>
        <td><%= appointment.email %></td>
        <td><%= appointment.phonenumber %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
